@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-quiz {
  background: #ffffff10;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  padding: 60px 60px;
  text-align: center;
  width: 320px;
  color: #000000;
}

.quiz-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #333;
}

.quiz-info .icon {
  opacity: 0.8;
}

.quiz-info .divider {
  margin: 0 6px;
  color: #aaa;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: -10px;
}

p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #000000;
}

input {
 border: solid 1.5px #9e9e9e;
 border-radius: 1rem;
 background: none;
 padding: 1rem;
 font-size: 1rem;
 color: #000000;
 transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.input-error {
  border: 2px solid #ff5252;
  background-color: #ffe6e6;
}

button {
  width: 75%;
  padding: 14px;
  background-color: #61dafb;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s;
   margin-top: 15px;

}

button:hover {
  background-color: #4fc3f7;
  transform: scale(1.03);
}